@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(126, 163, 143);
  color: brown;
  text-align: center;
}

.jumbotron {
  background-color: rgb(126, 163, 143);
}

 #card1 {
   margin: 15px;
}

.card-img-top {
  border-radius: 40%;
}
